{% load static %}
<!doctype html>
<html>
  <head>
    <title>This is the title of the webpage!</title>
    <link rel="stylesheet" href="{% static 'myapp/css/main.css' %}">
  </head>
  <body>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
    <p>go to users.html</p>
    <p>hello
    </p>
    <a href="{% url 'user_list' %}">Go to users .html </a>
    <a href="{% url 'car-list' %}">Go to cars </a>
    <h1>User Details</h1>
<p><strong>ID:</strong> {{ user.id }}</p>
<p><strong>Name:</strong> {{ user.username }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>

<h2>Assigned Golfers</h2>

  </body>
</html>